
@{
    var imageURL = "/Content/images/system/placeholder-image.png";
}

<h2>新增品牌</h2>

<form id="createCategory">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>品牌名稱</label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>品牌圖片</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="saveBtn" type="button" class="btn btn-primary">儲存</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">取消</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageURL" />
            </div>
        </div>
    </div>
</form>

<script>
    //選擇圖片上傳
    $("#imageUpload").change(function () {
        var formData = new FormData();
        formData.append("Photo", this.files[0]);

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "Shared")',
            dataType: "json", // 傳回 JSON 資料類型
            data: formData,
            contentType: false, // 設定傳送資料至 Server 的編碼類型
            processData: false // 設定是否自動將 data 轉為 query string
        })
        .done(function (response) {
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL); // 上傳的圖片取代掉預設圖片
            }
        })
        .fail(function () {
            alert("FAIL");
        });
    });

    //驗證表單
    $("#createCategory").validate({
        rules: {
            Name: { // to Name element
                required: true,
                minlength: 1,
                maxlength: 50
            }
        },
        messages: {
            Name: { // to Name element
                required: '名稱不可為空白',
                minlength: '名稱字數下限為1',
                maxlength: '名稱字數上限為50'
            }
        }
    });

    //按下儲存按鈕
    $("#saveBtn").click(function () {
        if ($("#createCategory").valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Category")',
                data: $("#createCategory").serialize() // 序列化表單元素
            })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");
            })
            .fail(function () {
                swal({
                    title: "警告",
                    text: "請輸入所有欄位",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                });
            });
        }
        else {
            swal({
                title: "警告",
                text: "請輸入有效資料",
                icon: "warning",
                buttons: true,
                dangerMode: true
            });

            document.querySelector('#Name-error').style.color = 'red'; // 驗證錯誤，故會顯示文字，加入css
        }
    });

    //按下取消按鈕
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>